
        <div class="sidebar-menu">
                <a href="<%= posts_path%>"><%= embedded_svg('beer-icon', class: 'brand') %></a>
            <div class="sidebar-menu__item">
                    <%= embedded_svg('explore', class: 'sidebar-menu__item-icon') %>
                    Explore
            </div>

        </div>
