    <div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
            <div class="new-to-twitter">
                <div class="new-to-twitter__block">
                    <div class="new-to-twitter__heading">
                        New to Bitter?
                    </div>
                    <div class="new-to-twitter__blurb">
                        Sign up now to get your own personalized timeline!
                    </div>
                    <%= link_to "Signup", signup_path, :class => "new-to-twitter__buttons"%>
                    <%= link_to "login", login_path, :class => "new-to-twitter__buttons"%>
                    <div class="new-to-twitter__terms">
                        By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.
                    </div>
                </div>
            </div>
        </div>
    </div>
