    <div class="layout__right-sidebar-container">
        <div class="layout__right-sidebar">
            <div class="trends-for-you">
                <div class="trends-for-you__block">
                    <div class="trends-for-you__heading">
                        Trends for you
                    </div>
                </div>
                <div class="trends-for-you__block">
                    <div class="trends-for-you__meta-information">
                        Trending in UK
                    </div>
                    <div class="trends-for-you__trend-name">
                        #Strike action
                    </div>
                    <div class="trends-for-you__meta-information">
                        155k Posts
                    </div>
                </div>
                <div class="trends-for-you__block">
                    <div class="trends-for-you__meta-information">
                        Trending in UK
                    </div>
                    <div class="trends-for-you__trend-name">
                        #PrinceHarryBook
                    </div>
                    <div class="trends-for-you__meta-information">
                        200k Posts
                    </div>
                </div>
                <div class="trends-for-you__block">
                    <div class="trends-for-you__meta-information">
                        Trending - Trending
                    </div>
                    <div class="trends-for-you__trend-name">
                        #Techno
                    </div>
                    <div class="trends-for-you__meta-information">
                        3,456 Posts
                    </div>
                </div>
            </div>

            <div class="who-to-follow">
                <div class="who-to-follow__block">
                    <div class="who-to-follow__heading">
                        Who to follow
                    </div>
                </div>
                <div class="who-to-follow__block">
                    <%=image_tag 'conan.jpeg', :class => "who-to-follow__author-logo" %>
                    <div class="who-to-follow__content">
                        <div>
                            <div class="who-to-follow__author-name">
                                Conan(thebarbarian)
                            </div>
                            <div class="who-to-follow__author-slug">
                                @Conanthebarbarian
                            </div>
                        </div>
                            <div class="who-to-follow__button">
                                Follow
                            </div>
                    </div>
                </div>
                <div class="who-to-follow__block">
                    <%=image_tag 'mchammer.jpeg', :class => "who-to-follow__author-logo" %>
                    <div class="who-to-follow__content">
                        <div>
                            <div class="who-to-follow__author-name">
                                McHammer
                            </div>
                            <div class="who-to-follow__author-slug">
                                @McHammer
                            </div>
                        </div>
                            <div class="who-to-follow__button">
                                Follow
                            </div>

                    </div>
                </div>
                <div class="who-to-follow__block">
                    <%=image_tag 'mrblobby.jpeg', :class => "who-to-follow__author-logo" %>
                    <div class="who-to-follow__content">
                        <div>
                            <div class="who-to-follow__author-name">
                                MrBlobby
                            </div>
                            <div class="who-to-follow__author-slug">
                                @MrBlobby
                            </div>
                        </div>
                            <div class="who-to-follow__button">
                                Follow
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
