.home-header {
  display: flex;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.home-header:hover {
  cursor: pointer;
}

.home-header__content {
  font-size: 20px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
}

.create-tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
}

.show-tweets {
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
  text-align: center;
}

.show-tweets:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.show-tweets__text {
  color: #1b94e0;
}

.create-tweet__block {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 15px;
}

.create-tweet__form-author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.create-tweet__tweet-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 15%;
  padding: 15px;
  margin-right: 20px;
}

.create-tweet__tweet-input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.create-tweet__flex-submit {
  display: flex;
  justify-content: end;
}

.create-tweet__submit {
  border: 1px solid #1da0f2;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
  background-color: #1da0f2;
  color: #e6ecf0;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  margin-right: 5px;
}

.create-tweet__submit:hover {
  background: rgba(29, 161, 242, 0.1);
  color: #1da0f2;
  border-radius: 20px;
  cursor: pointer;
}
