.who-to-follow {
}

.who-to-follo__block {
}

.who-to-follow__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.who-to-follow__author-slug {
}

.who-to-follow__content {
}

.who-to-follow__heading {
}
